{% extends "base.html" %}
{% load static %}

{% block mainblock %}


<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Clients Say!</h1>
            <p>At Makaan, our success is measured by the satisfaction of our clients. We are proud to share the experiences of those who have entrusted us with their real estate journeys. Read on to discover why our clients choose us and how we've helped them achieve their property goals.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Makaan made the home-buying process seamless for us. From understanding our needs to negotiating the deal, their team was professional, knowledgeable, and always available. We're now happily settled in our dream home, thanks to Rajiv Kapoor and the entire team.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-1.jpg' %}" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Ananya Gupta</h6>
                            <small>Software Engineer</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>I had the pleasure of working with Makaan on a commercial property investment. Amit Patel demonstrated an impressive understanding of the market trends and guided me through the complexities of commercial real estate. Their expertise and commitment to my goals were truly exceptional.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-2.jpg' %}" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Arjun Singhania</h6>
                            <small> Marketing Manager</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>When it came time to sell our family home, Makaan exceeded our expectations. Amit Patel provided invaluable advice on preparing our property for sale, and their marketing strategy attracted numerous potential buyers. The result? A quick and successful sale at a price we were thrilled with.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-3.jpg' %}" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Krishnan Iyer</h6>
                            <small>Healthcare Consultant</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
    {% endblock mainblock %}